/* You can add global styles to this file, and also import other style files */
@import '../../../resources/_colors.scss';

.api-data {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $accent-color;
  font-size: 0.875rem;
  font-weight: 400;
  cursor: pointer;

  svg {
    margin-right: 8px;
  }
}
