@import '../../../../../../../../../resources/_colors.scss';

.filter {
  &__title {
    font-size: 18px;
    font-weight: 600;
    background-color: #fff;
    line-height: 28px;
    padding: 7px 15px;
    border-radius: 5px;
    position: relative;
    margin: 10px 0 0 0;
    cursor: pointer;
    user-select: none;
  }

  &__arrow {
    position: absolute;
    right: 22px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;

    svg-icon {
      display: flex;
      width: 11px;
      height: 6px;
      transition: 0.3s transform ease;
      transform: rotate(0);
    }
  }

  &__data {
    padding: 21px 15px;

    ui-checkbox {
      display: block;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__select-all {
    display: block;
    margin-left: auto;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 14px;
    padding: 0;
  }

  &__show-more {
    color: $accent-color;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    padding: 0;
    margin-top: 7px;
    margin-bottom: 22px;

    svg {
      margin-right: 18px;
      display: block;
    }

    &.less {
      align-items: center;
      svg-icon {
        height: 2px;
      }
    }
  }
}

.filter__title--expanded {
  svg-icon {
    transform: rotate(180deg);
  }
}

.datasets-filter {
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0 15px;

  &__item {
    color: $text-color;
    font-size: 14px;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &.selected {
      color: $accent-color;
    }
  }
}

::ng-deep {
  @media (max-width: 1200px) {
    .filter {
      label.ui-checkbox {
        color: #fff !important;

        span {
          border-color: #fff !important;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .filter {
    &__data {
      padding: 20px 0;

      label.ui-checkbox {
        color: #fff !important;
        span {
          border-color: #fff !important;
        }
      }
    }

    &__show-more {
      color: #fff;

      svg {
        line {
          stroke: #fff;
        }
        path {
          fill: #fff;
        }
      }
    }

    &__select-all {
      color: #fff;
    }
  }

  .datasets-filter {
    margin: 0;
    padding: 0;

    &__item {
      color: #fff;
    }
  }
}
