<div class="container ckeditor-content">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-8">
      <ofd-agregator-section-title
        [iconURL]="'assets/modules/generic/instructions.png'"
        [titleText]="'misc.faq_title' | translate"
      ></ofd-agregator-section-title>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <ofd-agregator-accordion [accordionContent]="accordionContent" #accordionComponent></ofd-agregator-accordion>
    </div>
  </div>
</div>
