<div class="modal-content">
  <div class="times" (click)="closeModal()">&times;</div>

  <ofd-agregator-section-title
    [iconURL]="'assets/images/question_mark.svg'"
    [titleText]="'home.contact_header' | translate"
  ></ofd-agregator-section-title>

  <form #f="ngForm" (ngSubmit)="submitForm()">
    <div class="filds">
      <input
        type="text"
        id="firstName"
        name="firstName"
        required
        [(ngModel)]="form.firstName"
        [placeholder]="'home.contact_form.name' | translate"
      />
      <label for="firstName">{{ 'home.contact_form.name' | translate }}</label>
    </div>

    <div class="filds">
      <input
        type="text"
        id="lastName"
        name="lastName"
        required
        [(ngModel)]="form.lastName"
        [placeholder]="'home.contact_form.surname' | translate"
      />
      <label for="lastName">{{ 'home.contact_form.surname' | translate }}</label>
    </div>

    <div class="filds">
      <input
        type="text"
        id="emailAddress"
        name="emailAddress"
        required
        [(ngModel)]="form.emailAddress"
        [placeholder]="'home.contact_form.email' | translate"
        [ngClass]="formError.emailAddress !== '' ? 'error-circle' : ''"
      />
      <label for="emailAddress" [ngClass]="formError.emailAddress !== '' ? 'error-label' : ''">{{
        'home.contact_form.email' | translate
      }}</label>
      <span class="error-message">{{ formError.emailAddress }}</span>
    </div>

    <div class="filds">
      <textarea
        id="text"
        name="text"
        required
        [(ngModel)]="form.text"
        [placeholder]="'home.contact_form.text' | translate"
      ></textarea>
      <label for="text">{{ 'home.contact_form.text' | translate }}</label>
    </div>

    <div class="field checkbox-field">
      <input type="checkbox" required class="check_box" id="checkbox1" [(ngModel)]="form.checkbox" name="checkbox" />
      <label class="mark" for="checkbox1"></label>
      <label class="normal" for="checkbox1">
        <span class="checkbox-label">{{ 'home.contact_form.checkbox' | translate }}</span>
      </label>
    </div>

    <div class="captcha-container">
      <re-captcha name="captcha" (resolved)="resolved($event)" [siteKey]="config.captcha"></re-captcha>
    </div>

    <div class="field button-wrapp">
      <button type="submit" class="btn svg-btn" [disabled]="!f.valid">
        {{ 'home.contact_form.send' | translate }}
        <svg-icon
          src="assets/modules/home/envelop_green.svg"
          class="white-fill"
          [applyCss]="true"
          alt="Submit"
        ></svg-icon>
      </button>
    </div>
  </form>
</div>
