@import '../../../../../../resources/_colors.scss';

.main-footer {
  background-color: #fff;
  border-top: 5px solid $accent-color;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
  }

  &__top-logos {
    img {
      width: 50%;
      object-fit: contain;
      object-position: left;

      &:first-child {
        height: 37px;
      }

      &:nth-child(2) {
        height: 33px;
      }
    }
  }

  &__bottom-logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  p {
    margin: 30px 0;
    font-size: 14px;
  }
}

ofd-agregator-footer-navigation-items {
  display: block;
  margin-bottom: 60px;
}

.right-side {
  // margin-top: 38px;

  .image-wrapp {
    img:first-child {
      margin-right: 5vw;
    }

    margin-bottom: 25px;
  }

  p {
    margin-bottom: 35px;
  }

  .align-center {
    text-align: center;
  }
}

.container {
  position: relative;
}

.ue-logo {
  width: 100%;
}

.project-text {
  font-size: 14px;
}

@media (max-width: 992px) {
  .project-text {
    font-size: 14px;
  }

  .image-wrapp {
    img:last-child {
      margin-left: 30px;
    }
  }

  .right-side {
    margin-top: 0px;
  }

  .ue-logo {
    margin-top: 20px;
  }
}
