@import '../../../../../../resources/_colors.scss';

.main-footer {
  background-color: #fff;
  border-top: 5px solid $accent-color;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
  }

  &__top-logos {
    img {
      width: 50%;
      object-fit: contain;
      object-position: left;

      &:first-child {
        height: 37px;
      }

      &:nth-child(2) {
        height: 33px;
      }
    }
  }

  &__bottom-logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  p {
    margin: 30px 0;
    font-size: 0.875rem;
  }

  &__cookies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 8px;
    max-width: 960px;
    margin: auto;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 20px 0;
    position: fixed;
    left: 50%;
    bottom: 43px;
    transform: translateX(-50%);
    background: white;
    z-index: 999;
    width: 90vw;
    &__text {
      p {
        margin: 0 81px 0 0;
        font-size: 0.75rem;
      }
    }
    &__image {
      margin: 0 31px 0 30px;
      width: 48px;
      height: 48px;
    }
  }
}

.button-accept {
  margin: 0 32px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: solid 1px #009444;
  background-color: #009444;
  border-radius: 50px;
  font-size: 1.125rem;
  color: white;
  padding-right: 43px;
  width: 177px;
  height: 50px;
  svg-icon {
    margin: 7px 10px 7px 18px;
  }
}

::ng-deep {
  .button-accept:hover {
    background: white;
    border: solid 1px #009444;
    color: green;

    svg {
      path {
        fill: #009444;
      }
      line {
        stroke: #009444;
      }
    }
  }
}
ofd-agregator-footer-navigation-items {
  display: block;
  margin-bottom: 60px;
}

.right-side {
  // margin-top: 38px;

  .image-wrapp {
    display: flex;
    justify-content: space-between;

    img {
      max-width: 130px;
      max-height: 37px;
    }

    svg-icon {
      max-width: 130px;
      max-height: 40px;

      svg {
        max-width: 130px;
        max-height: 40px;
      }
    }

    img:first-child {
      // margin-right: 5vw;
    }

    margin-bottom: 25px;
  }

  p {
    margin-bottom: 35px;
  }

  .align-center {
    text-align: center;
    margin-bottom: 25px;
  }
}

.container {
  position: relative;
}

.ue-logo {
  width: 100%;
}

.project-text {
  font-size: 0.875rem;
}

.wa-logo {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  width: 1136px;
  padding: 0 40px;

  &__container {
    margin-right: 25px;
  }
}

@media (max-width: 1200px) {
  .wa-logo {
    width: 976px;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0 40px;

    &__container {
      margin-right: 25px;
    }
  }
}

@media (max-width: 992px) {
  .wa-logo {
    width: 976px;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0 40px;

    &__container {
      margin-right: 25px;
    }
  }

  .project-text {
    font-size: 0.875rem;
  }

  .image-wrapp {
    img:last-child {
      margin-left: 30px;
    }
  }

  .right-side {
    margin-top: 0;
  }

  .ue-logo {
    margin-top: 20px;
  }

  .main-footer {
    &__cookies {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 8px;
      max-width: 960px;
      margin: auto;
      align-items: center;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      padding: 0;
      position: fixed;
      left: 50%;
      bottom: 43px;
      transform: translateX(-50%);
      background: white;
      z-index: 999;
      &__text {
        p {
          margin: 0 20px;
          font-size: 0.75rem;
        }
      }
      &__image {
        margin: 20px 0;
        width: 48px;
        height: 48px;
      }
    }
  }

  .button-accept {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: solid 1px #009444;
    background-color: #009444;
    border-radius: 50px;
    font-size: 1.125rem;
    color: white;
    padding-right: 43px;
    width: 177px;
    height: 50px;
    svg-icon {
      margin: 7px 10px 7px 18px;
    }
  }
}

@media (max-width: 640px) {
  .main-footer {
    &__cookies {
      max-width: 90vw;
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .button-accept {
    align-self: flex-end;
    margin-right: 20px;
  }
}

@media (max-width: 380px) {
  .image-wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;

    img:first-child {
      margin-right: 0 !important;
    }

    &__img-1 {
      max-width: 130px;
      margin-bottom: 20px;
    }

    &__img-2 {
      max-width: 130px;
      margin-bottom: 20px;
    }

    img:last-child {
      margin-left: 0;
    }
  }
}
