<footer class="main-footer">
  <div class="container">
    <div class="row mlr-0">
      <div class="col-lg-4 col-xs-12 col-md-10">
        <div class="main-footer__left-col">
          <ofd-agregator-footer-navigation-items></ofd-agregator-footer-navigation-items>
        </div>
        <div class="main-footer__right-col"></div>
      </div>
      <div class="col-lg-6 col-xs-12 ml-auto right-side">
        <div class="image-wrapp">
          <svg-icon
            width="130"
            height="40"
            class="image-wrapp__img-1"
            src="/assets/modules/home/ibs-logo.svg"
            [applyCss]="true"
          ></svg-icon>
          <svg-icon
            width="130"
            height="40"
            class="image-wrapp__img-2"
            src="/assets/modules/home/pb-logo.svg"
            [applyCss]="true"
          ></svg-icon>
          <!-- <img class="image-wrapp__img-1" src="assets/modules/home/footer_1.png" alt="IBS PAN Białowieża" /> -->
          <!-- <img class="image-wrapp__img-2" src="assets/modules/home/footer_2.png" alt="Politechnika Białostocka" /> -->
          <img class="image-wrapp__img-3" src="assets/modules/home/biaman_logo.png" alt="BIAMAN" />
        </div>
        <p class="project-text">{{ 'footer.project-text' | translate }}</p>

        <ofd-agregator-footer-logo class="mobile-only"></ofd-agregator-footer-logo>

        <div class="align-center">
          <img src="assets/modules/home/new_footer_ue.png" class="ue-logo" alt="UE" />
        </div>
      </div>
    </div>
  </div>
  <div class="wa-logo">
    <div class="wa-logo__container">
      <ofd-agregator-footer-logo class="desktop-only"></ofd-agregator-footer-logo>
    </div>
  </div>
  <div class="main-footer__cookies" *ngIf="!getAcceptCookie()">
    <img class="main-footer__cookies__image" src="assets/images/cookie.png" alt="Cookie icon" />
    <div class="main-footer__cookies__text">
      <p>
        Używamy plików cookie, aby poprawić komfort korzystania z naszej witryny. Korzystając z naszej witryny,zgadzasz
        się na gromadzenie danych zgodnie z opisem w naszej <a href="privacy-policy">Polityce prywatności</a>.
      </p>
    </div>
    <button class="button-accept" (click)="acceptAndSetCookies()">
      <svg-icon src="/assets/images/tick.svg" [applyCss]="true"></svg-icon>
      Akceptuj
    </button>
  </div>
</footer>
