@import '../../../../../../../resources/colors';

.content {
  padding: 32px 0 0 40px;
}

.group {
  b {
    font-weight: 500;
    font-size: 12px;
    margin-right: 5px;
  }

  svg-icon {
    cursor: pointer;
  }

  .value {
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 12px;
    padding: 3px 10px 0;
    background-color: $light-gray-color;
    line-height: 30px;
  }
}

.group-wrapper {
  margin-top: 15px;

  .group {
    display: inline-block;
    margin-right: 20px;
  }
}

.cursor {
  cursor: pointer;
}
