<section class="faq-contact" *ngIf="utilService.homePageData">
  <div class="container">
    <div class="row mlr-0">
      <div class="col-lg-7 col-xs-12">
        <ofd-agregator-section-title [iconURL]="'assets/images/question_mark.svg'" [titleText]="'home.faq' | translate">
        </ofd-agregator-section-title>
        <ul class="faq-list">
          <li *ngFor="let item of utilService.homePageData.faqs">
            <a [routerLink]="'/more/faq'" [fragment]="'faq-' + item.anchor">
              <span>{{ item.title }}</span>
              <svg-icon src="assets/images/arrow_right.svg" class="desktop-only"> </svg-icon>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 ml-auto col-xs-12">
        <ofd-agregator-section-title
          [iconURL]="'assets/images/envelope_icon.svg'"
          [titleText]="'home.contact' | translate"
        ></ofd-agregator-section-title>

        <p class="contact_info">{{ utilService.homePageData.contact_content }}</p>

        <button class="btn contact_button svg-btn" (click)="modal.open('contact-modal')">
          {{ 'home.contact_button' | translate }}
          <svg-icon src="assets/modules/home/envelop_green.svg" [applyCss]="true"></svg-icon>
        </button>
      </div>
    </div>
    <svg-icon src="assets/images/small_trees.svg" class="trees"></svg-icon>
  </div>
</section>
