@import '../../../../../../../resources/colors';

.faq-contact {
  background-color: $light-gray-color;
}

.faq-list {
  margin-top: 20px;
  padding: 0;

  li {
    list-style: none;

    a {
      display: flex;
      justify-content: space-between;
      font-size: 0.875rem;
      color: $text-color;
    }

    margin-bottom: 15px;
  }
}

.contact_info {
  margin-top: 20px;
  font-size: 0.875rem;
  line-height: 21px;
}

.contact_button {
  margin-top: 25px;
}

.container {
  position: relative;
  padding: 40px 0;
}

.trees {
  position: absolute;
  left: -45px;
  bottom: -5px;
  transform: translate(-100%, 0);
}
