<section class="faq-contact">
  <div class="container">
    <div class="row mlr-0">
      <div class="col-lg-7 col-xs-12">
        <ofd-agregator-section-title
          [iconURL]="'assets/modules/home/question_mark.png'"
          [titleText]="'home.faq' | translate"
        ></ofd-agregator-section-title>
        <ul class="faq-list">
          <li *ngFor="let i of [0, 1, 2, 3, 4]">
            <a href="#">
              <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam, sapiente.</span>
              <img src="assets/modules/home/arrow_right.png" class="desktop-only" width="16" height="11" alt="Go to" />
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 ml-auto col-xs-12">
        <ofd-agregator-section-title
          [iconURL]="'assets/modules/home/envelope_icon.png'"
          [titleText]="'home.contact' | translate"
        ></ofd-agregator-section-title>

        <p class="contact_info">{{ 'home.contact_info' | translate }}</p>

        <button class="btn contact_button" (click)="modal.open('contact-modal')">
          {{ 'home.contact_button' | translate }}
          <img src="assets/modules/home/envelop_green.png" alt="{{ 'home.contact_button' | translate }}" />
        </button>
      </div>
    </div>
    <img src="assets/modules/home/trees.png" width="80" class="trees" />
  </div>
</section>
