<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12 m-auto">
      <ofd-agregator-section-title
        [iconURL]="'assets/modules/blog/blog.png'"
        [titleText]="'blog.blog' | translate"
        [dobuleSideLine]="true"
      ></ofd-agregator-section-title>
    </div>
  </div>

  <div class="row tag-row">
    <div class="col-xs-12 tag-wrapper">
      <span class="tag" *ngFor="let item of randomWords">{{ item }}</span>
    </div>
  </div>
  <div class="row news-body">
    <div class="col-lg-5 col-md-4 col-xs-12 middle-xs">
      <div class="news-image-holder">
        <img src="assets/modules/home/ex_1.jpg" alt="Example" />
      </div>
    </div>
    <div class="col-lg-7 col-md-8 col-xs-12">
      <div class="news-social">
        <span class="news-date">
          04.04.2020 |
          <span class="author">Daniel Pasoń</span>
        </span>
        <div class="news_social">
          <a href="#"> <img src="assets/modules/home/social_fb.png" alt="Facebook"/></a>
          <a href="#"> <img src="assets/modules/home/social_instagram.png" alt="Instagram"/></a>
          <a href="#"> <img src="assets/modules/home/social_twitter.png" alt="Twitter"/></a>
        </div>
      </div>

      <p class="news-title">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex fugiat delectus corporis ipsa voluptates mollitia?
      </p>

      <p class="news-content ckeditor-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum aspernatur, fugit, animi veritatis inventore cumque
        aliquam laborum impedit nihil in quis explicabo voluptates doloremque numquam dicta iure consequuntur dolorum
        maiores eos vel saepe distinctio? Accusantium nemo ad harum officiis, at optio. Quasi eius veniam voluptate
        cupiditate iste, ab maxime iure ut tempora optio architecto dolores illum temporibus officiis dolorum sint error
        qui nisi quam modi, in blanditiis? Natus aliquam nam alias doloremque facere ut numquam saepe consectetur rerum
        quis quo fugit quibusdam impedit, eveniet voluptatum soluta nostrum itaque at. Vel animi iusto neque architecto
        quibusdam consectetur facere optio obcaecati commodi.
      </p>

      <p class="tags-p">
        <span class="news-tags">
          <a href="#">Tag1</a>
          <a href="#">Tag2</a>
          <a href="#">Tag3</a>
        </span>
      </p>

      <a href="#" class="read_more" [routerLink]="['1/1']">
        {{ 'home.read_more' | translate }}
        <img src="assets/modules/home/arrow_right_green.png" alt="{{ 'home.read_more' | translate }}" />
      </a>
    </div>
  </div>

  <div class="row m-t-60">
    <div class="col-xs-6 phone-full col-md-6 col-lg-6 left-tile-side">
      <ofd-agregator-post-tile></ofd-agregator-post-tile>
    </div>
    <div class="col-xs-6 phone-full col-md-6 col-lg-6 right-tile-side">
      <ofd-agregator-post-tile></ofd-agregator-post-tile>
    </div>
  </div>

  <div class="row m-t-30">
    <div class="col-xs-6 phone-full col-md-6 col-lg-6 left-tile-side">
      <ofd-agregator-post-tile></ofd-agregator-post-tile>
    </div>
    <div class="col-xs-6 phone-full col-md-6 col-lg-6 right-tile-side">
      <ofd-agregator-post-tile></ofd-agregator-post-tile>
    </div>
  </div>
</div>
