<section class="search-section">
  <div class="search-wrapper">
    <input type="text" class="search" [placeholder]="'home.search_placeholder' | translate" />
    <button class="search-button">
      <img src="assets/modules/home/search_icon.png" alt="{{ 'home.all_news' | translate }}" />
    </button>
  </div>
  <p class="advanced-search">{{ 'home.advanced_search' | translate }}</p>
</section>

<ofd-agregator-section-title
  [iconURL]="'assets/modules/home/book.png'"
  [titleText]="'home.news' | translate"
></ofd-agregator-section-title>

<div class="slider" (swipeleft)="swipeLeftNews()" (swiperight)="swipeRightNews()">
  <div class="slider-window active-{{ mobileActiveNews }}">
    <div class="row news-body" *ngFor="let i of [0, 1, 2]">
      <div class="col-md-12">
        <div class="news-social">
          <span class="news-date">04.04.2020</span>
          <div class="news_social">
            <a href="#"> <img src="assets/modules/home/social_fb.png" alt="Facebook"/></a>
            <a href="#"> <img src="assets/modules/home/social_instagram.png" alt="Instagram"/></a>
            <a href="#"> <img src="assets/modules/home/social_twitter.png" alt="Twitter"/></a>
          </div>
        </div>

        <div class="news-image-holder">
          <img src="assets/modules/home/ex_1.jpg" alt="Example" />
        </div>

        <p class="news-title">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex fugiat delectus corporis ipsa voluptates
          mollitia?
        </p>

        <p class="news-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ab odit libero inventore consequuntur
          molestiae nostrum nemo dolore unde accusamus impedit, voluptas ipsum aliquid aspernatur totam dignissimos
          deserunt aperiam? Optio.
        </p>

        <p class="tags-p">
          {{ 'home.tags' | translate }}:
          <span class="news-tags">
            <a href="#">Tag1</a>
            <a href="#">Tag2</a>
            <a href="#">Tag3</a>
          </span>
        </p>

        <a href="#" class="read_more">
          {{ 'home.read_more' | translate }}
          <img src="assets/modules/home/arrow_right_green.png" alt="{{ 'home.read_more' | translate }}" />
        </a>
      </div>
    </div>
  </div>
</div>

<div class="dots-navigation">
  <span (click)="mobileActiveNews = 0" [ngClass]="{ active: mobileActiveNews == 0 }" class="dot"></span>
  <span (click)="mobileActiveNews = 1" [ngClass]="{ active: mobileActiveNews == 1 }" class="dot"></span>
  <span (click)="mobileActiveNews = 2" [ngClass]="{ active: mobileActiveNews == 2 }" class="dot"></span>
</div>

<div class="load-all-wrapper">
  <button class="btn">
    {{ 'home.all_news' | translate }}
    <img src="assets/modules/home/arrow_right_green.png" alt="{{ 'home.all_news' | translate }}" />
  </button>
</div>

<section class="animal-of-the-day">
  <ofd-agregator-section-title
    [iconURL]="'assets/modules/home/heart_icon.png'"
    [titleText]="'home.animal_of_the_day' | translate"
  ></ofd-agregator-section-title>

  <div class="image-holder">
    <img src="assets/modules/home/ex_1.jpg" alt="Example" />
  </div>

  <aside>
    <span class="animal-name"> <b class="semibold">Żubr europejski </b> <i>(Bison banasus)</i> </span>
    <span class="animal-length">
      <b class="medium">{{ 'home.animal_length' | translate }}:</b> 2.9m (Dorosły)
    </span>
    <span class="animal-weight">
      <b class="medium">{{ 'home.animal_weight' | translate }}:</b> 60 kg (Dorosły)
    </span>
  </aside>

  <div class="details-wrapper">
    <button class="btn">
      {{ 'home.details' | translate }}
      <img src="assets/modules/home/arrow_right_green.png" alt="{{ 'home.read_more' | translate }}" />
    </button>
  </div>
</section>
