@import '../../../../../../../resources/colors';

.search-section {
  margin: 50px 0;
}

.news-body {
  margin-top: 30px;
}

.dots-navigation {
  .dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.16) inset;

    &.active {
      background-color: $accent-color;
    }

    margin-bottom: 15px;
  }

  display: flex;
  justify-content: center;
  align-items: center;
}

.read_more {
  justify-content: center !important;
  margin: 20px 0;
}

.animal-of-the-day {
  margin: 30px 0;
}

.details-wrapper {
  justify-content: center;
}

.slider {
  width: calc(100vw - 100px);
  overflow-x: hidden;
}

.slider-window {
  width: calc((100vw - 100px) * 3 + 3 * 50px);
  display: flex;
  will-change: transform;
  transition: transform 0.6s ease;

  &.active-0 {
    transform: translateX(0);
  }

  &.active-1 {
    transform: translateX(-33.333%);
  }

  &.active-2 {
    transform: translateX(-66.666%);
  }

  .news-body {
    width: calc((100vw - 100px));
    margin-right: 50px;
  }

  .news-container {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .slider {
    width: calc(100vw - 60px);
  }

  .slider-window {
    width: calc((100vw - 60px) * 3 + 3 * 30px);

    .news-body {
      width: calc(100vw - 60px);
      margin-right: 30px;
    }
  }
}

::ng-deep {
  .animal-of-the-day {
    .titleText {
      white-space: nowrap;
    }
  }
}
