<section class="search-section">
  <div class="search-wrapper">
    <input
      type="text"
      class="search"
      (keyup.enter)="search()"
      [(ngModel)]="searchValue"
      [placeholder]="'home.search_placeholder' | translate"
    />
    <button class="search-button" (click)="search()">
      <svg-icon src="/assets/images/search_icon.svg" [applyCss]="true"></svg-icon>
    </button>
  </div>
  <p class="advanced-search">{{ 'home.advanced_search' | translate }}</p>
</section>

<ofd-agregator-section-title [iconURL]="'assets/images/book.svg'" [titleText]="'home.news' | translate">
</ofd-agregator-section-title>

<div class="slider" (swipeleft)="swipeLeftNews()" (swiperight)="swipeRightNews()">
  <div class="slider-window active-{{ mobileActiveNews }}">
    <div class="row news-body" *ngFor="let singleNews of news; let i = index">
      <div class="col-md-12 news-container">
        <div class="news-social">
          <div class="news_social">
            <ofd-agregator-social [linkTo]="'news/' + singleNews.slug" class="social-container"> </ofd-agregator-social>
          </div>
        </div>

        <div class="news-image-holder">
          <img [src]="singleNews['image_in_list']" [alt]="singleNews.title" />
        </div>

        <p class="news-title">
          {{ singleNews.title }}
        </p>

        <p class="news-content">
          {{ singleNews.description }}
        </p>

        <a [href]="redirectToNews(singleNews.slug)" class="read_more">
          {{ 'home.read_more' | translate }}
          <svg-icon src="assets/images/arrow_right_green.svg"></svg-icon>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="dots-navigation">
  <span
    *ngFor="let singleNews of news; let i = index"
    (click)="mobileActiveNews = i"
    [ngClass]="{ active: mobileActiveNews == i }"
    class="dot"
  ></span>
</div>

<div class="load-all-wrapper">
  <button class="btn svg-btn" [routerLink]="['/news']">
    {{ 'home.all_news' | translate }}
    <svg-icon src="assets/modules/home/arrow_right_green.svg" [applyCss]="true"></svg-icon>
  </button>
</div>

<section class="animal-of-the-day" *ngIf="datasetOfTheDay">
  <ofd-agregator-section-title
    [iconURL]="'assets/images/heart_icon.svg'"
    [titleText]="'home.animal_of_the_day' | translate"
  ></ofd-agregator-section-title>

  <div class="image-holder">
    <img
      [src]="datasetOfTheDay.preview"
      *ngIf="datasetOfTheDay.preview && datasetOfTheDay.preview !== 'wait'"
      [alt]="datasetOfTheDay.name"
    />
    <img
      src="/assets/images/no_photo.png"
      *ngIf="!datasetOfTheDay.preview && datasetOfTheDay.preview !== 'wait'"
      [alt]="datasetOfTheDay.name"
    />
  </div>

  <aside>
    <span class="animal-name">
      <b class="semibold">{{ datasetOfTheDay.name }} </b>
      <i *ngIf="datasetOfTheDay.latinName !== ''">({{ datasetOfTheDay.latinName }})</i>
    </span>
  </aside>

  <div class="details-wrapper">
    <button class="btn" [routerLink]="['/datasets/detail']" [queryParams]="{ doi: datasetOfTheDay.identifier64 }">
      {{ 'home.details' | translate }}
      <svg-icon src="assets/images/arrow_right_green.svg"></svg-icon>
    </button>
  </div>
</section>
