<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 news-grid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12">
            <ofd-agregator-section-title
              [iconURL]="'assets/modules/home/book.png'"
              [titleText]="'news.news' | translate"
            ></ofd-agregator-section-title>
          </div>
        </div>

        <div class="m-t-30"></div>

        <div class="news-wrapper">
          <div class="news-tile" *ngFor="let new of news?.articles">
            <ofd-agregator-news-tile-main [news]="new"></ofd-agregator-news-tile-main>
            <hr class="news-separator-hr" />
          </div>
        </div>

        <ofd-agregator-pagination
          [items]="news?.offset?.count"
          [pageSize]="pageSize"
          [(page)]="page"
          [showOffsets]="true"
          (changes)="paginationChanged($event)"
        >
        </ofd-agregator-pagination>
      </div>
    </div>
  </div>
</div>
