<section class="latest-added">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <ofd-agregator-section-title
          [iconURL]="'assets/images/clock.svg'"
          [titleText]="'home.latest_added' | translate"
        ></ofd-agregator-section-title>
      </div>
    </div>

    <div class="row data-row">
      <div class="col-lg-3 data-info" *ngFor="let dataset of datasets">
        <span class="add-date">{{ dataset.dateSort | date: 'dd.MM.yyyy' }}</span>
        <h3 class="add-title">{{ dataset.title }}</h3>
        <p class="add-text">
          {{ dataset.dsDescriptionValue[0] ? dataset.dsDescriptionValue[0] : '' }}
        </p>

        <p class="add-owner">
          <b class="semibold">{{ 'home.owner' | translate }}: </b>
          <span class="color-green">{{ dataset.authorName[0] ? dataset.authorName[0] : '' }}</span>
        </p>

        <div class="add-social">
          <a href="#" (click)="shareLink(dataset.link, 'facebook')">
            <svg-icon src="/assets/images/social/facebook-icon.svg" [applyCss]="true"></svg-icon>
          </a>
          <a href="#" (click)="shareLink(dataset.link, 'twitter')">
            <svg-icon src="/assets/images/social/twitter-icon.svg" [applyCss]="true"></svg-icon>
          </a>
          <a href="#" (click)="shareLink(dataset.link, 'email')"
            ><svg-icon src="/assets/images/social/email-icon.svg" [applyCss]="true"></svg-icon
          ></a>
        </div>

        <div class="see_more_wrapper">
          <a [routerLink]="'/datasets/details'" [queryParams]="{ doi: dataset.identifier64 }">
            <button class="btn no-border">
              {{ 'home.see' | translate }}
              <svg-icon src="assets/images/arrow_right_green.svg"></svg-icon>
            </button>
          </a>
        </div>
      </div>

      <div class="col-lg-3">
        <span class="add-date">&nbsp;</span>
        <p class="add-text">
          {{ 'home.add_data_info_1' | translate }}
          <b class="semibold">{{ 'home.add_data_info_2' | translate }}</b>
          {{ 'home.add_data_info_3' | translate }}
        </p>

        <div class="button-wrapper">
          <button class="btn green-svg">
            {{ 'home.add_data' | translate }}
            <svg-icon src="assets/images/plus.svg" class="m-t-3" [applyCss]="true"></svg-icon>

            <ul class="drop-down excluded">
              <li *ngFor="let button of buttonsAddData">
                <a [href]="button.url">{{ button.title }}</a>
              </li>
              <!-- <li>
                <a href="#">{{ 'home.science' | translate }}</a>
              </li>
              <li>
                <a href="#">{{ 'home.dim' | translate }}</a>
              </li>
              <li>
                <a href="#">{{ 'home.metric' | translate }}</a>
              </li> -->
            </ul>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
