@import '../../../../../../../resources/colors';

.post-link {
  color: $accent-color;
  display: flex;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  align-items: center;

  &.end {
    justify-content: flex-end;
  }

  img {
    width: 16px;
    height: 11px;
  }
}

.m-l-25 {
  margin-left: 25px;
}

.m-r-25 {
  margin-right: 25px;
}

.post-links {
  margin-bottom: 90px;
}

.news-body {
  .news-title {
    font-weight: 500;
    font-size: 1.25rem;
    margin-top: 0;
  }

  .news-date {
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 30px;
    display: block;
  }

  .news-content {
    margin-top: 0;
  }
}

.row.tag-row {
  margin-bottom: 20px;
}

.news-body .news-image-holder {
  max-height: 300px;
  text-align: center;

  img {
    //width: 100%;
    height: 300px;
  }
}

@media (min-width: 992px) {
  .blog-left {
    padding-right: 40px;
  }
}

.fixed {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-top: 40px;
}

.tag {
  color: #2a2b2c;
}
