@import '../../../../../../../../resources/_colors.scss';

.datasets-filters {
  &__type {
    padding: 21px 15px 0 15px;

    ui-checkbox {
      display: block;

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }

  &__more-filters {
    margin-top: 20px;
  }
}

::ng-deep {
  .button-wrapper {
    button {
      &:hover {
        svg path {
          fill: $accent-color !important;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .button-wrapper {
      button {
        padding: 9px 15px 9px 15px;
        width: 175px;
      }
    }

    .filter__show-more {
      padding-left: 15px !important;
    }

    .datasets-filters {
      &__type {
        padding-bottom: 15px !important;

        label.ui-checkbox {
          color: #fff !important;

          span {
            border-color: #fff !important;
          }
        }
      }

      &__filters {
        padding-bottom: 20px;
      }

      &__more-filters {
        display: none;
      }
    }
  }
}

.m-l-10 {
  margin-left: 10px;
  margin-top: 3px;
}

.m-t--10 {
  margin-top: -8px;
}

.datasets-filters__filters__mobile {
  display: none;
}

@media (max-width: 1200px) {
  .datasets-filters__filters__mobile {
    display: block;
  }
}
