@import '../../../../../../../resources/colors';

.iframe-wrapper {
  border: 12px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
  margin-top: 30px;
}

.iframe-title {
  font-size: 0.875rem;
  padding: 10px 0;
  margin: 0;
}

iframe {
  width: 100%;
  min-height: 200px;
  border: none;
}
