@import './_colors.scss';

.button {
  background-color: transparent;
  color: $accent-color;
  font-size: 1.125rem;
  border: 1px solid $accent-color;
  display: flex;
  align-items: center;
  padding: 12px 38px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s all ease;

  svg-icon {
    margin-left: 15px;

    svg {
      path {
        transition: 0.3s all ease;
        fill: $accent-color;
      }
      line {
        transition: 0.3s all ease;
        stroke: $accent-color;
      }
    }
  }

  &:hover {
    background-color: $accent-color;
    color: white;

    svg {
      path {
        fill: white;
      }
      line {
        stroke: white;
      }
    }
  }

  &:active {
    color: $text-color;
    border-color: $text-color;
    background-color: transparent;

    svg {
      path {
        fill: $text-color;
      }
      line {
        stroke: $text-color;
      }
    }
  }

  svg {
    margin-left: 10px;

    path {
      transition: 0.3s all ease;
    }
  }
}
