@font-face {
  font-family: 'Prompt';
  src: url('assets/fonts/Prompt/Prompt-BoldItalic.woff2') format('woff2'),
  url('assets/fonts/Prompt/Prompt-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Prompt';
  src: url('assets/fonts/Prompt/Prompt-ExtraBold.woff2') format('woff2'),
  url('assets/fonts/Prompt/Prompt-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('assets/fonts/Prompt/Prompt-Black.woff2') format('woff2'),
  url('assets/fonts/Prompt/Prompt-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('assets/fonts/Prompt/Prompt-Regular.woff2') format('woff2'),
  url('assets/fonts/Prompt/Prompt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('assets/fonts/Prompt/Prompt-ExtraBoldItalic.woff2') format('woff2'),
  url('assets/fonts/Prompt/Prompt-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Prompt';
  src: url('assets/fonts/Prompt/Prompt-ThinItalic.woff2') format('woff2'),
  url('assets/fonts/Prompt/Prompt-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Prompt';
  src: url('assets/fonts/Prompt/Prompt-ExtraLight.woff2') format('woff2'),
  url('assets/fonts/Prompt/Prompt-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('assets/fonts/Prompt/Prompt-Italic.woff2') format('woff2'),
  url('assets/fonts/Prompt/Prompt-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Prompt';
  src: url('assets/fonts/Prompt/Prompt-SemiBoldItalic.woff2') format('woff2'),
  url('assets/fonts/Prompt/Prompt-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Prompt';
  src: url('assets/fonts/Prompt/Prompt-SemiBold.woff2') format('woff2'),
  url('assets/fonts/Prompt/Prompt-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('assets/fonts/Prompt/Prompt-Light.woff2') format('woff2'),
  url('assets/fonts/Prompt/Prompt-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('assets/fonts/Prompt/Prompt-LightItalic.woff2') format('woff2'),
  url('assets/fonts/Prompt/Prompt-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Prompt';
  src: url('assets/fonts/Prompt/Prompt-ExtraLightItalic.woff2') format('woff2'),
  url('assets/fonts/Prompt/Prompt-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Prompt';
  src: url('assets/fonts/Prompt/Prompt-Thin.woff2') format('woff2'),
  url('assets/fonts/Prompt/Prompt-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('assets/fonts/Prompt/Prompt-MediumItalic.woff2') format('woff2'),
  url('assets/fonts/Prompt/Prompt-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Prompt';
  src: url('assets/fonts/Prompt/Prompt-Bold.woff2') format('woff2'),
  url('assets/fonts/Prompt/Prompt-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('assets/fonts/Prompt/Prompt-Medium.woff2') format('woff2'),
  url('assets/fonts/Prompt/Prompt-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Prompt';
  src: url('assets/fonts/Prompt/Prompt-BlackItalic.woff2') format('woff2'),
  url('assets/fonts/Prompt/Prompt-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

