@import '_fonts.scss';
@import '_variables.scss';
@import '_buttons.scss';
@import '_typo.scss';
@import '_forms.scss';
@import '_grid.scss';
@import 'media.scss';

input,
button,
textarea,
select {
  outline: none;
}

body {
  color: $text-color;
  font-family: $primary-font;
  font-size: 16px;
  // background-color: $light-gray-color;
}

a {
  color: $accent-color;
  text-decoration: none;
}

.container {
  // width: calc(100% - 400px);
  margin: 0 auto;
}

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 75, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

$aligments: (left, center, right);

@each $aligment in $aligments {
  .text-#{$aligment} {
    text-align: $aligment;
  }
}

.half-col {
  width: 50%;
}

.extension {
  font-size: 9px;
  font-weight: 500;
  color: white;
  padding: 2px 4px;
  background-color: #999;
  text-align: center;

  &.pdf {
    background-color: #f58f87;
  }

  &.csv {
    background-color: #9087f5;
  }
}

.flex-parent {
  display: flex;

  &.flex-direction-column {
    flex-direction: column;
  }

  &.justify-content-center {
    justify-content: center;
  }

  &.align-items-center {
    align-items: center;
  }

  &.justify-content-space-between {
    justify-content: space-between;
  }

  &.flex-wrap-wrap {
    flex-wrap: wrap;
  }

  @for $i from 1 through 12 {
    .flex-#{$i} {
      flex: $i;
    }
  }
}

.coma-sep {
  &:not(:last-child) {
    &::after {
      content: ', ';
    }
  }
}

.relative {
  position: relative;
}

.ml-auto {
  margin-left: auto;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-b-40 {
  margin-bottom: 40px;
}

div[class*='col-'] {
  padding: 0;
}

p {
  line-height: 21px;
}

button,
a {
  cursor: pointer;
}

.btn {
  background: transparent;
  border-radius: 30px;
  padding: 15px 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid $accent-color;
  color: $accent-color;
  transition: background-color 0.6s ease, color 0.6s ease;

  &.no-border {
    border: none;
  }

  img {
    margin-left: 15px;
  }

  /*
    &:hover,
    &:active {
      background: $accent-color;
      color: white;
      img {
        filter: invert(100%);
      }
    }
  */
}

.bold {
  font-weight: bold;
}

.semibold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.color-green {
  color: $accent-color;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 992px) {
  .mlr-0 {
    margin-left: 0;
    margin-right: 0;
  }
}
