<div class="container ckeditor-content">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-8">
      <ofd-agregator-section-title
        [iconURL]="'assets/modules/generic/partners.png'"
        [titleText]="'misc.partners_title' | translate"
      ></ofd-agregator-section-title>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <ul class="partner-list">
        <li *ngFor="let i of [0, 0, 0, 0]">
          <img src="assets/modules/home/footer_1.png" alt="IBS PAN Białowieża" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores et labore fuga odio hic minus laudantium
            delectus sunt ratione eius inventore libero incidunt pariatur nesciunt, suscipit placeat ducimus excepturi
            dolor, autem cum deserunt beatae! Rem aspernatur animi qui consequuntur necessitatibus ipsa neque facilis
            modi culpa officia quaerat perferendis dolores maxime iusto mollitia, quae eos doloremque numquam, omnis
            dicta non quis nam officiis ipsum! Eaque sapiente quidem, eius ab quam vero sunt. Accusantium ipsa vel quia.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
