.content {
  margin-top: 50px;
  font-size: 0.875rem;
}

.download {
  margin-top: 25px;
}

.phone-image {
  margin-left: auto;
  max-height: 440px;
  max-width: 100%;
}

.align-center {
  text-align: center;
}
