<div class="row">
  <div class="col-lg-8 col-md-9 col-xs-8 input-area">
    <svg-icon class="calendar-char" src="assets/images/calendar.svg"></svg-icon>

    <label class="datepicker-label">
      {{ 'stats.from' | translate }}
      <dp-date-picker
        (onSelect)="emitNewFilters()"
        [mode]="'daytime'"
        [(ngModel)]="startDate"
        [config]="startDatePickerConfig"
      ></dp-date-picker>
    </label>

    <label class="datepicker-label">
      {{ 'stats.to' | translate }}
      <dp-date-picker
        (onSelect)="emitNewFilters()"
        [mode]="'daytime'"
        [(ngModel)]="endDate"
        [minDate]="startDate"
        [config]="endDatePickerConfig"
      ></dp-date-picker>
    </label>
  </div>
</div>
