<div class="social-bar">
  <a [href]="FBLink" target="_blank" target="_blank" rel="noopener noreferrer">
    <svg-icon src="/assets/images/social/facebook-icon.svg" [applyCss]="true"></svg-icon>
  </a>
  <a [href]="twitterLink" target="_blank" rel="noopener noreferrer">
    <svg-icon src="/assets/images/social/twitter-icon.svg" [applyCss]="true"></svg-icon>
  </a>
  <a [href]="email" target="_blank" rel="noopener noreferrer">
    <svg-icon src="/assets/images/social/email-icon.svg" [applyCss]="true"></svg-icon>
  </a>
</div>
