<div class="social-bar">
  <a href="https://whiteaster.com/">
    <svg-icon src="/assets/images/social/facebook-icon.svg" [applyCss]="true"></svg-icon>
  </a>
  <a href="https://whiteaster.com/">
    <svg-icon src="/assets/images/social/instagram-icon.svg" [applyCss]="true"></svg-icon>
  </a>
  <a href="https://whiteaster.com/">
    <svg-icon src="/assets/images/social/twitter-icon.svg" [applyCss]="true"></svg-icon>
  </a>
  <a href="https://whiteaster.com/">
    <svg-icon src="/assets/images/social/email-icon.svg" [applyCss]="true"></svg-icon>
  </a>
</div>
