<div class="social-bar">
  <a href="{{ links.fbLink }}">
    <svg-icon src="/assets/images/social/facebook-icon.svg" [applyCss]="true"></svg-icon>
  </a>
  <a href="{{ links.instaLink }}">
    <svg-icon src="/assets/images/social/instagram-icon.svg" [applyCss]="true"></svg-icon>
  </a>
  <a href="{{ links.twitterLink }}">
    <svg-icon src="/assets/images/social/twitter-icon.svg" [applyCss]="true"></svg-icon>
  </a>
  <a href="{{ links.emailLink }}">
    <svg-icon src="/assets/images/social/email-icon.svg" [applyCss]="true"></svg-icon>
  </a>
</div>
