<ofd-agregator-chart-filters (filtersChanged)="getData($event)"></ofd-agregator-chart-filters>

<div class="chart-wrapper">
  <p class="title">{{ chartTitle }}</p>
  <p class="sum" *ngIf="showCount">{{ dataSum }}</p>
  <canvas
    *ngIf="barChartData.length > 0"
    baseChart
    [data]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [legend]="barChartLegend"
    [chartType]="barChartType"
  >
  </canvas>
  <canvas
    *ngIf="barChartDatasets.length > 0"
    baseChart
    [datasets]="barChartDatasets"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [legend]="barChartLegend"
    [chartType]="barChartType"
  >
  </canvas>
</div>
