<div class="container ckeditor-content">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-8">
      <ofd-agregator-section-title
        [iconURL]="'assets/modules/generic/resources.png'"
        [titleText]="'misc.resources_title' | translate"
      ></ofd-agregator-section-title>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sunt rem quod, praesentium quasi quam
        totam repudiandae at obcaecati dolore, a inventore ratione omnis perferendis fuga voluptas doloribus dignissimos
        est esse maiores accusamus assumenda fugiat debitis! Consequuntur enim repellendus atque blanditiis sed alias
        cupiditate adipisci eum vero sint, inventore repellat quo harum dolorem placeat odit consectetur. Fuga nemo
        rerum libero odio? Ipsum, ipsam. Eos neque animi illo possimus aliquam tempora vitae accusantium asperiores ut,
        deserunt, eligendi veniam dolor laudantium accusamus! Quis molestiae debitis fugit nostrum perspiciatis id
        recusandae quae! Sunt est aut consectetur fuga explicabo officiis quae alias dolores quia!
      </p>
      <br />

      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sunt rem quod, praesentium quasi quam
        totam repudiandae at obcaecati dolore, a inventore ratione omnis perferendis fuga voluptas doloribus dignissimos
        est esse maiores accusamus assumenda fugiat debitis!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ipsum quae praesentium enim, impedit
        consequuntur, dolorum culpa fugit nesciunt reprehenderit cum officia temporibus facere necessitatibus placeat
        optio, veniam incidunt. Repellendus inventore voluptate saepe suscipit, consequatur fugiat labore ab sint quae
        recusandae sunt minima reiciendis, perferendis molestiae itaque id consectetur in!
      </p>
    </div>
  </div>

  <div class="desktop-only modify-new-data-component">
    <ofd-agregator-new-data></ofd-agregator-new-data>
  </div>

  <div class="mobile-only modify-new-data-component">
    <ofd-agregator-new-data-mobile></ofd-agregator-new-data-mobile>
  </div>
</div>
