@import '../../../../../../../resources/_colors.scss';

.datasets-list {
  &__container {
    background-color: #fff;
    padding: 32px 0 15px 40px;
  }

  &__header {
    padding-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.875rem;
    font-weight: 500;

    select {
      margin-left: 30px;
    }
  }

  &__export {
    svg {
      display: block;
    }
  }

  &__datasets {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 40px;

    &__item {
      max-width: 100%;

      &__picture {
        max-width: 100%;
        display: block;

        img {
          max-width: 100%;
          border: 4px solid #fff;
          box-sizing: border-box;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          cursor: pointer;
          height: 150px;
          object-fit: none;
        }
      }

      &__title {
        white-space: nowrap;
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 18px;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        margin-top: 18px;
        margin-bottom: 0;
      }

      &__link {
        display: block;
        text-align: right;
        margin-left: auto;
        margin-top: 40px;
        font-size: 1rem;
      }
    }
  }
}

::ng-deep {
  .lg-sub-html a {
    color: #fff;
  }
}

@media (max-width: 1200px) {
  .datasets-list {
    &__header {
      flex-direction: column-reverse;
      flex-wrap: wrap;

      div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
      }
    }

    &__export {
      margin-bottom: 15px;
    }

    &__datasets {
      display: block;
      width: 53%;
      margin: 0 auto;

      &__item {
        &__link {
          text-align: center;
        }

        &:not(:last-of-type) {
          margin-bottom: 25px;
        }
      }
    }
  }
}

.dataset-list__count {
  margin-right: 10px;
}

.events-none {
  pointer-events: none;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $accent-color;
  border-color: $accent-color transparent $accent-color transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.whole-window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
