.datasets-table {
  &__header {
    margin-bottom: 32px;
    text-align: right;

    button {
      display: inline-flex;
    }
  }

  &__table {
    width: 100% !important;
  }

  &__container {
    display: block;
    background-color: #fff;
    padding: 32px 40px 64px 40px;
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  .datasets-table {
    &__container {
      max-width: 100%;
      overflow-x: scroll;
    }
  }
}
