.datasets-table {
  &__table {
    width: 100% !important;
  }

  &__container {
    display: block;
    background-color: #fff;
    padding: 32px 0 15px 40px;
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  .datasets-table {
    &__container {
      max-width: 100%;
      overflow-x: scroll;
    }
  }
}

.datasets-table__header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;

  svg-icon {
    height: 20px;
  }
}
