.datasets-table {
  &__header {
    margin-bottom: 32px;
    text-align: right;

    button {
      display: inline-flex;
    }
  }

  &__container {
    display: block;
    background-color: #fff;
    padding: 32px 0 64px 0;
    font-size: 12px;
  }
}
