@import '../../../../../../../../resources/_colors.scss';

.file-as-table {
  max-width: 100%;
  overflow-x: auto;
  position: relative;
}

.datasets-table {
  &__table {
    width: 100% !important;
  }

  &__container {
    display: block;
    background-color: #fff;
    padding: 32px 0 15px 40px;
    font-size: 0.75rem;
  }
}

::ng-deep {
  .dt-buttons {
    display: flex;

    .dt-button {
      display: flex !important;
      background: none !important;
      height: 30px !important;
      min-width: 75px;
      border: 1px solid $accent-color !important;
      padding: 0;
      align-items: center;
      justify-content: center;
    }
  }

  .fullScreen {
    button.fullscreen {
      background-color: $accent-color !important;
      color: white;

      span {
        display: flex;
      }
    }
  }
}
