@import '../../../../../../../../resources/_colors.scss';

.file-as-table {
  max-width: 100%;
  overflow-x: auto;
  position: relative;
}

.datasets-table {
  &__table {
    width: 100% !important;
  }

  &__container {
    display: block;
    background-color: #fff;
    padding: 32px 0 15px 40px;
    font-size: 12px;
  }
}
