<header [ngClass]="{ hidden: DSService.hideHeader, collapse: collapseHeader }">
  <nav class="container main-nav">
    <div class="col-lg-12">
      <div class="main-nav__top-bar desktop-flex-only">
        <div class="main-nav__controls">
          <ofd-agregator-header-controls></ofd-agregator-header-controls>
        </div>
        <div class="main-nav__actions">
          <ofd-agregator-header-actions></ofd-agregator-header-actions>
        </div>
      </div>

      <div class="main-nav__bottom-bar">
        <div class="main-nav__bottom-bar__logo">
          <a routerLink="/">
            <svg-icon [src]="'/assets/images/logo_of.svg'" [applyCss]="true"></svg-icon>
          </a>
          <img src="/assets/modules/home/header_logo_ue.jpg" alt="Unia Europejska" />
        </div>

        <div class="mobile-flex-only middle-md">
          <div class="hamburger" (click)="showMobileMenu = true">
            <svg-icon
              src="/assets/images/hamburger.svg"
              [svgStyle]="{ width: '36px', height: '50px', marginTop: '-25px' }"
              [applyCss]="true"
            ></svg-icon>
          </div>
        </div>

        <div class="main-nav__navigation-items desktop-only">
          <ofd-agregator-header-navigation-items></ofd-agregator-header-navigation-items>
        </div>
      </div>
    </div>
  </nav>
</header>

<div [ngClass]="{ active: showMobileMenu }" class="mobile-menu mobile-only">
  <div class="times">
    <span (click)="showMobileMenu = false">&times;</span>
  </div>
  <div class="main-nav__controls">
    <ofd-agregator-header-controls></ofd-agregator-header-controls>
  </div>
  <div class="main-nav__actions">
    <ofd-agregator-header-actions></ofd-agregator-header-actions>
  </div>

  <ofd-agregator-section-title [titleText]="'home.menu' | translate"></ofd-agregator-section-title>

  <div class="main-nav__navigation-items">
    <ofd-agregator-header-navigation-items></ofd-agregator-header-navigation-items>
  </div>
</div>
