<div class="container">
  <div class="row mobile-flex-only post-links">
    <div class="col-xs-6">
      <a class="post-link">
        <img src="assets/modules/home/arrow_left_green.png" class="m-r-25" alt="{{ 'home.read_more' | translate }}" />
        {{ 'blog.previous' | translate }}
      </a>
    </div>
    <div class="col-xs-6">
      <a class="post-link end">
        {{ 'blog.next' | translate }}
        <svg-icon src="assets/images/arrow_right_green.svg" class="m-l-25"></svg-icon>
      </a>
    </div>
  </div>

  <div class="row post-links">
    <div class="col-lg-4 col-md-3 desktop-only">
      <a class="post-link">
        <img src="assets/modules/home/arrow_left_green.png" class="m-r-25" alt="{{ 'home.read_more' | translate }}" />
        {{ 'blog.previous' | translate }}
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12"></div>
    <div class="col-lg-4 col-md-3 desktop-only">
      <a class="post-link end">
        {{ 'blog.next' | translate }}
        <svg-icon src="assets/images/arrow_right_green.svg" class="m-l-25"></svg-icon>
      </a>
    </div>
  </div>

  <div class="row news-body ckeditor-content">
    <div class="col-xs-12 news-social">
      <div class="news_social">
        <ofd-agregator-social [linkTo]="" class="social-container"></ofd-agregator-social>
      </div>
    </div>
    <div class="col-xs-12">
      <h2 class="news-title">
        {{ news.title }}
      </h2>
    </div>
    <div class="col-xs-12">
      <span class="news-date">
        {{ news.date | date: 'dd.MM.yyyy' }} |
        <span class="author">{{ news.author }}</span>
      </span>
    </div>
    <div class="col-lg-7 col-md-6 col-xs-12 middle-xs">
      <div class="news-image-holder">
        <img src="assets/modules/home/ex_1.jpg" alt="Example" />
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-xs-12">
      <p class="news-content">
        {{ news.description }}
      </p>

      <div class="news-content" [innerHTML]="news.content"></div>
    </div>
  </div>
</div>
