@import '../../../../../../resources/_colors.scss';

.datasets {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 25px;
  position: relative;

  &:after {
    content: '';
    background-color: #fff;
    z-index: -1;
    top: 81px;
    right: 0;
    transform: translateX(calc(100% - 20px));
    width: 500%;
    height: 100%;
    position: absolute;
  }

  &:before {
    content: '';
    background-color: #fff;
    z-index: -1;
    top: 81px;
    left: calc(30% + 40px);
    height: 500%;
    width: 100%;
    position: absolute;
  }

  &__filters {
    width: 30%;

    &__category-filter {
      margin-bottom: 25px;
    }

    &__filters {
      margin-bottom: 25px;
    }
  }

  &__content {
    width: calc(70% - 40px);
  }
}

:host {
  overflow: hidden;
  display: block;
}

@media (max-width: 1200px) {
  :host {
    background-color: #fff;
  }

  .datasets {
    display: block;
    width: 100%;
    padding: 0;

    &__filters {
      display: block;
      width: 100%;
      background-color: $accent-color;
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;

      &__filters {
        margin-bottom: 0;
      }

      &__category-filter {
        display: none;
      }
    }

    &__content {
      width: 100%;
    }
  }
}

::ng-deep {
  @media (max-width: 1200px) {
    .header-bar {
      padding: 20px 0 !important;
      align-items: center;
      justify-content: center;
    }
  }
}
