<ng-container *ngIf="article">
  <div class="row news-body">
    <div class="col-lg-5 col-md-4 col-xs-12">
      <div class="news-image-holder">
        <img src="assets/modules/home/ex_1.jpg" alt="Example" />
      </div>
    </div>
    <div class="col-lg-7 col-md-8 col-xs-12 news-content">
      <div class="news-social">
        <span class="news-date">
          {{ article.date | date: 'dd.MM.yyyy' }} |
          <span class="author">{{ article.author }}</span>
        </span>
      </div>

      <p class="news-title">
        {{ article.description }}
      </p>

      <p class="tags-p">
        <span class="news-tags">
          <a
            [title]="keyword.title"
            [href]="createKeywordsLink(keyword.slug)"
            *ngFor="let keyword of article.keywords"
            >{{ keyword.title }}</a
          >
        </span>
      </p>

      <a href="#" class="read_more" routerLink="/blog/{{ article.slug }}">
        {{ 'home.read_more' | translate }}
        <img src="assets/modules/home/arrow_right_green.png" alt="{{ 'home.read_more' | translate }}" />
      </a>
    </div>
  </div>
</ng-container>
