@import '../../../../../../../resources/colors';

.news-body {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;

  .news-image-holder {
    max-width: 90%;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    border: 8px solid white;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
    margin: auto;

    img {
      object-fit: contain;
      object-position: center;
    }
  }

  .news-date {
    font-size: 14px;
  }

  .news-social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    a {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .news-title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .news-content {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  .tags-p {
    font-size: 12px;

    a {
      color: $accent-color;

      &:after {
        content: ', ';
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }

  .read_more {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;

    img {
      margin-left: 30px;
    }
  }
}

.news-separator-hr {
  border: none;
  border-bottom: 1px solid $light-gray-color;
  margin-top: 30px;
  margin-bottom: 30px;
}

.load-all-wrapper {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
