<ofd-agregator-section-title [iconURL]="'assets/images/book.svg'" [titleText]="'home.news' | translate">
</ofd-agregator-section-title>
<ng-container *ngFor="let singleNews of news; let i = index">
  <div class="row news-body">
    <div class="col-lg-3 col-md-4">
      <div class="news-image-holder">
        <img src="assets/modules/home/ex_1.jpg" alt="Example" />
      </div>
    </div>
    <div class="col-lg-9 col-md-8">
      <div class="news-social">
        <span class="news-date">{{ singleNews.author }}</span>
        <div class="news_social">
          <ofd-agregator-social [linkTo]="'news/' + singleNews.slug" class="social-container"> </ofd-agregator-social>
        </div>
      </div>

      <p class="news-title">
        {{ singleNews.title }}
      </p>

      <p class="news-content">
        {{ singleNews.description }}
      </p>

      <a [href]="redirectToNews(singleNews.slug)" class="read_more">
        {{ 'home.read_more' | translate }}
        <svg-icon class="svg-arrow-right" src="assets/images/arrow_right_green.svg"></svg-icon>
      </a>
    </div>
  </div>
  <hr class="news-separator-hr" *ngIf="i < news.length - 1" />
</ng-container>

<div class="load-all-wrapper">
  <button class="btn svg-btn" [routerLink]="['/news']">
    {{ 'home.all_news' | translate }}
    <svg-icon src="assets/modules/home/arrow_right_green.svg" [applyCss]="true"></svg-icon>
  </button>
</div>
