<div class="bg-gray">
  <div class="form-wrapper">
    <ofd-agregator-section-title
      [iconURL]="'assets/modules/auth/key.png'"
      [titleText]="'auth.login' | translate"
    ></ofd-agregator-section-title>

    <form (ngSubmit)="onSubmit()" #authForm="ngForm">
      <div class="field">
        <label for="username">{{ 'auth.username' | translate }}</label>
        <input
          type="text"
          required
          [(ngModel)]="form.username"
          name="username"
          class="username"
          id="username"
          [placeholder]="'auth.username_placeholder' | translate"
        />
      </div>
      <div class="field">
        <label for="password">{{ 'auth.password' | translate }}</label>
        <input
          type="password"
          required
          [(ngModel)]="form.password"
          name="password"
          class="password"
          id="password"
          [placeholder]="'auth.password_placeholder' | translate"
        />
      </div>
      <div class="row">
        <div class="col-lg-5">
          <div class="field checkbox-field">
            <input type="checkbox" class="check_box" id="checkbox1" name="remember_me" [(ngModel)]="form.remember_me" />
            <label for="checkbox1"></label>
            <span for="checkbox1" (click)="form.remember_me = !form.remember_me" class="checkbox-label">{{
              'auth.remember_me' | translate
            }}</span>
          </div>
        </div>
        <div class="col-lg-7"></div>
      </div>

      <div class="field button-wrapp">
        <button type="submit" class="btn">
          {{ 'auth.login_button' | translate }}
          <img src="assets/modules/auth/padlock.png" />
        </button>
      </div>
    </form>

    <div class="footer">
      <p>
        {{ 'auth.have_account' | translate }}
        <a href="#" class="color-green">
          {{ 'auth.register' | translate }}
        </a>
      </p>
      <a href="#">
        {{ 'auth.forgott_password' | translate }}
      </a>
    </div>
  </div>
  <img src="assets/modules/home/trees.png" class="trees" />
</div>
