<section class="search-section">
  <div class="search-wrapper">
    <input
      type="text"
      class="search"
      (keyup.enter)="search()"
      [(ngModel)]="searchValue"
      [placeholder]="'home.search_placeholder' | translate"
    />
    <button class="search-button" (click)="search()">
      <svg-icon src="/assets/images/search_icon.svg" [applyCss]="true"></svg-icon>
    </button>
  </div>
  <a [routerLink]="['datasets']" [queryParams]="{ adv: true }">
    <p class="advanced-search">{{ 'home.advanced_search' | translate }}</p>
  </a>
</section>

<section class="animal-of-the-day">
  <ofd-agregator-section-title
    [iconURL]="'assets/images/heart_icon.svg'"
    [titleText]="'home.animal_of_the_day' | translate"
  ></ofd-agregator-section-title>

  <div class="image-holder">
    <div class="spinning-loader" *ngIf="datasetOfTheDay.preview === 'wait'"></div>
    <img
      [src]="datasetOfTheDay.preview"
      *ngIf="datasetOfTheDay.preview && datasetOfTheDay.preview !== 'wait'"
      [alt]="datasetOfTheDay.name"
    />
    <img
      src="/assets/images/no_photo.png"
      *ngIf="!datasetOfTheDay.preview && datasetOfTheDay.preview !== 'wait'"
      [alt]="datasetOfTheDay.name"
    />
  </div>

  <aside>
    <span class="animal-name">
      <b class="semibold">{{ datasetOfTheDay.name }} </b>
      <i *ngIf="datasetOfTheDay.latinName !== ''">({{ datasetOfTheDay.latinName }})</i>
    </span>
  </aside>

  <div class="details-wrapper">
    <button class="btn" [routerLink]="['/datasets/detail']" [queryParams]="{ doi: datasetOfTheDay.identifier64 }">
      {{ 'home.details' | translate }}
      <svg-icon src="assets/images/arrow_right_green.svg"></svg-icon>
    </button>
  </div>
</section>
