<button class="action-button" (click)="setContrast()">
  <svg-icon [src]="'/assets/images/contrast_icon.svg'" [applyCss]="true"></svg-icon>
</button>
<button class="action-button" (click)="decreaseFont()">
  <svg-icon [src]="'/assets/images/decrease_font_icon.svg'" [applyCss]="true"></svg-icon>
</button>
<button class="action-button" (click)="resetFont()">
  <svg-icon [src]="'/assets/images/reset_font_icon.svg'" [applyCss]="true"></svg-icon>
</button>
<button class="action-button" (click)="increaseFont()">
  <svg-icon [src]="'/assets/images/increase_font_icon.svg'" [applyCss]="true"></svg-icon>
</button>
<!-- <button class="action-button">
  <svg-icon [src]="'/assets/images/rss_icon.svg'" [applyCss]="true"></svg-icon>
</button> -->
