:host {
  display: flex;
  align-items: center;
}

.action-button {
  background-color: transparent;
  border: none;
  display: block;
  margin: 0;
  cursor: pointer;
  padding: 0;

  svg-icon {
    display: block;
    width: 20px;
    height: 20px;
  }

  &:not(:last-of-type) {
    margin-right: 15px;
  }
}
