<div class="container ckeditor-content">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-8">
      <ofd-agregator-section-title
        [iconURL]="iconURL"
        [titleText]="pageTitle | translate"
      ></ofd-agregator-section-title>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12" [innerHTML]="pageContent"></div>
  </div>

  <ofd-agregator-accordion *ngIf="ifAccordion"></ofd-agregator-accordion>

  <div class="desktop-only modify-new-data-component" *ngIf="ifNewData">
    <ofd-agregator-new-data></ofd-agregator-new-data>
  </div>

  <div class="mobile-only modify-new-data-component" *ngIf="ifNewData">
    <ofd-agregator-new-data-mobile></ofd-agregator-new-data-mobile>
  </div>
</div>
