@import '../../../../../../../../resources/_colors.scss';

.datasets-category {
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0 15px;

  &__item {
    color: $text-color;
    font-size: 0.875rem;
    cursor: pointer;
    position: relative;

    .times {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      font-size: 2.25rem;
      cursor: pointer;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &.selected {
      color: $accent-color;
    }
  }
}
